body {
    cursor: url("images/small_jelly_cursor.png"), auto;
    background-color: rgb(232, 226, 226);
    margin: 0;
    padding: 0;
}
header {
    font-family: sans-serif, Arial, Helvetica, Impact;
    width: 100%;
    height: 70px;
    display: grid; 
    grid-template-columns: 1.5fr 2fr 2fr;
    align-items: center;
    padding-bottom: 20px;
    padding-top: -20px;
    margin: 0 auto;
}
.left {
    width: 100%;
    height: 80px;
    background-color: white;
    border-radius: 10px;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.left img { 
    width: 80%;
    justify-self: center;
    align-self: center;
}
.left h1 {
    font-size: 24px;
    justify-self: left;
    align-self: center;
    grid-column: 2/3;
}
.right {
    width: 100%;
    height: 80px;
    background-color: white;
    border-radius: 10px;
    grid-column: 3/4;
    display: grid;
    grid-template-columns: 1fr 0.25fr 1fr 0.25fr 1fr 1fr 1.5fr 1fr;
}
.people {
    width: 80%;
    justify-self: center;
    align-self: center;
    grid-column: 1/2;
}
#rdivider1 {
    grid-column: 2/3;
}
.quotes {
    width: 80%;
    justify-self: center;
    align-self: center;
    grid-column: 3/4;
}
#rdivider2 {
    grid-column: 4/5;
}
.youtube {
    width: 80%;
    justify-self: center;
    align-self: center;
    grid-column: 5/6;
}
.camera {
    width: 80%;
    justify-self: center;
    align-self: center;
    grid-column: 6/7;
}
.share-menu {
    width: 80%;
    justify-self: center;
    align-self: center;
    grid-column: 7/8;
}
#user-icon {
    width: 50%;
    justify-self: center;
    align-self: center;
    grid-column: 8/9;
}
.sidebar-top {
    display: grid;
    grid-template-columns: 1fr;
}
.sticky-note {
    width: 125px;
    height: 125px;
    color: rgb(51, 50, 50); 
    text-align: center;
    align-content: center;
    background-color: #fffa77; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin: 10px;
    position: relative;
    display: inline-block;
    vertical-align: top;
}
/*.sticky-note:focus {
    outline: none;
    box-shadow: 0 0 5px #ffeb3b;
}*/
