body {
    cursor: url("images/small_jelly_cursor.png"), auto;
    background-color: rgb(232, 226, 226);
    margin: 0;
    padding: 0;
}
header {
    font-family: sans-serif, Arial, Helvetica, Impact;
    width: 100%;
    height: 70px;
    display: grid; 
    grid-template-columns: 1.5fr 2fr 2fr;
    align-items: center;
    padding-bottom: 20px;
    padding-top: -20px;
    margin: 0 auto;
    z-index: 2;
}

.left {
    width: 100%;
    height: 80px;
    background-color: white;
    border-radius: 10px;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    z-index: 2;
}
.left img { 
    width: 80%;
    justify-self: center;
    align-self: center;
}
.left h1 {
    font-size: 24px;
    justify-self: left;
    align-self: center;
    grid-column: 2/3;
}

.right {
    width: 100%;
    height: 80px;
    background-color: white;
    border-radius: 10px;
    grid-column: 3/4;
    display: grid;
    grid-template-columns: 1fr 0.25fr 1fr 0.25fr 1fr 1fr 1.5fr 1fr;
    z-index: 2;
}
.people {
    width: 80%;
    justify-self: center;
    align-self: center;
    grid-column: 1/2;
}
#rdivider1 {
    grid-column: 2/3;
}
.quotes {
    width: 80%;
    justify-self: center;
    align-self: center;
    grid-column: 3/4;
}
#rdivider2 {
    grid-column: 4/5;
}
.youtube {
    width: 80%;
    justify-self: center;
    align-self: center;
    grid-column: 5/6;
}
.camera {
    width: 80%;
    justify-self: center;
    align-self: center;
    grid-column: 6/7;
}
.share-menu {
    width: 80%;
    justify-self: center;
    align-self: center;
    grid-column: 7/8;
}
#user-icon {
    width: 50%;
    justify-self: center;
    align-self: center;
    grid-column: 8/9;
}

.sidebar-top {
    width: 80px; 
    text-align: center;
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    margin: 10px 10px 10px 0px;
    z-index: 2;
}


.sidebar-middle {
    width: 60px;
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    padding: 20px;
    padding: 10px;
    margin: 10px 10px 10px 0px;
    z-index: 2;
}

.sticky-note {
    color: rgb(107, 107, 107); 
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 160px;
    min-height: 160px;
    background: #fffa77;
    padding: 10px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.25);
    cursor: grab;
    user-select: none;
    z-index: 1;
}

.sticky-note:focus {
    outline: none;
    cursor: text;
    user-select: text;
}

.sticky-note.dragging {
    cursor: grabbing;
}

#board {
    position: absolute;
    width: 200%;
    height: 200%;
    background: rgb(232, 226, 226);
    border: 2px solid #aaa;
    cursor: move;
    z-index: 0;
    margin: 0 auto;
}