body {
    cursor: url("images/small_jelly_cursor.png"), auto;
    background-color: rgb(232, 226, 226);
    margin: 0;
    padding: 0;
}
header {
    font-family: sans-serif, Arial, Helvetica, Impact;
    width: 100%;
    height: 70px;
    display: grid; 
    grid-template-columns: 1.5fr 2fr 2fr;
    align-items: center;
    padding-bottom: 20px;
    padding-top: -20px;
    margin: 0 auto;
    position: fixed;
    z-index: 1000;
}

.left {
    width: 100%;
    height: 80px;
    background-color: white;
    border-radius: 10px;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.left img { 
    width: 80%;
    justify-self: center;
    align-self: center;
}
.left h1 {
    font-size: 24px;
    justify-self: left;
    align-self: center;
    grid-column: 2/3;
}

.right {
    width: 100%;
    height: 80px;
    background-color: white;
    border-radius: 10px;
    grid-column: 3/4;
    display: grid;
    grid-template-columns: 1fr 0.25fr 1fr 0.25fr 1fr 1fr 1.5fr 1fr;
}

main {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 0.65fr 0.75fr 40px 3.5fr;
    position: fixed; 
    z-index: 1000;
}
.sidebar-top {
    width: 80px; 
    text-align: center;
    background-color: white;
    border-radius: 10px;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    margin: 10px 10px 10px 0px;
    position: fixed;
    z-index: 1000;
}
.sidebar-middle {
    width: 60px;
    background-color: white;
    border-radius: 10px;
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    padding: 20px;
    margin: 10px 10px 10px 0px;
    position: fixed;
    z-index: 1000;
}

.sticky-note {
    color: rgb(107, 107, 107); 
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 160px;
    min-height: 160px;
    background: #fffa77;
    padding: 10px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.25);
    cursor: grab;
    user-select: none;
    z-index: 10;
    touch-action: none; /* For mobile */
}

.sticky-note:focus {
    outline: none;
    cursor: text;
    user-select: text;
}

.sticky-note.dragging {
    cursor: grabbing;
}

#board {
    position: absolute; /* Board can be moved relative to body */
    width: 3000px;      /* Make it much larger than the screen */
    height: 3000px;
    background-color: #f0f0f0;
    background-image: radial-gradient(#d1d1d1 1px, transparent 1px);
    background-size: 40px 40px; /* Gives a "grid" look like LucidSpark */
    cursor: move;
    z-index: 1; 
} 
