body {
    cursor: url("images/small_jelly_cursor.png"), auto;
}
#content {
    font-family: Arial, sans-serif;
    background-color: #f0f2f4; 
}
header {
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1.25fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding: 20px;
}
#right {
    height: 100%;
    text-align: right;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background-color: white;

}
#right img {
    height: 80%;  
    margin: 0, auto;
}
#left {
    height: 100%;
    text-align: right;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: white;
}
.sticky-note {
    width: 200px;
    height: 200px;
    color: rgb(98, 96, 96); 
    text-align: center;
    align-content: center;
    background-color: #fffa77; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin: 10px;
    position: relative;
    display: inline-block;
    vertical-align: top;
}